env.php

assets/*

assets

reports

system/*

system

reports/*
!reports/index.html

!reports/**/

reports/cts/*
!reports/cts/index.html

reports/footer/*
!reports/footer/index.html

reports/patient_reports/*
!reports/patient_reports/index.html

reports/provider_reports/*
!reports/provider_reports/index.html

reports/summary_reports/*
!reports/summary_reports/index.html

reports/xml/*
!reports/xml/index.html

