<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                
            </files>
        </defaultDocument>
	 <httpErrors existingResponse="PassThrough" />
        <httpRedirect enabled="false" destination="www.welltrackone.us/tablet" />
    </system.webServer>
</configuration>
